body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:linear-gradient(135deg,#0F172A,#111827,#1E1B4B);
    color:#F8FAFC;
    font-family:'Poppins',sans-serif;
}

nav {
    background-color: #1E293B;
    color: #38BDF8;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

nav h1 {
    font-size: 24px;
    margin: 0;
}

nav h1:hover {
    color: #38BDF8;
    transform: scale(1.1);
    border-bottom: 3px solid #38BDF8;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #38BDF8;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    transform: scale(1.1);
    color: white;
    border-bottom: 3px solid #38BDF8;
}

.btn,
button,
.resume-contact-btn button {
    background-color: #0C151D;
    color: #38BDF8;
    padding: 10px 20px;
    border: 2px solid #38BDF8;
    border-radius: 10px;
    box-shadow: 5px 5px 0 black;
    transition: 0.3s;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
}

.btn:hover,
button:hover,
.resume-contact-btn button:hover {
    background-color: #38BDF8;
    color: #0C151D;
    font-weight: bold;
    box-shadow: 5px 5px solid #8B5CF6;
}

.head {
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 200px;
}

.img {
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 5px 5px 20px #8B5CF6;
}

.img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px #8B5CF6;
    border-radius: 20px;
}

.myprofile {
    max-width: 600px;
    height: 300px;
    text-align: center;
    background-color: #1E293B;
    box-shadow: 5px 5px 0 #8B5CF6;
    border-radius: 40px;
}

.myprofile:hover {
    background-color: #38BDF8;
    color: #0C151D;
    transform: scale(1.02);
    font-weight: bold;
}

section {
    text-align: center;
    margin: 50px;
}

section h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 10px #8B5CF6;
    transition: all 0.3s ease;
}

h1:hover {
    color: #38BDF8;
    transform: scale(1.1);
    text-decoration: underline;
}

.about {
    max-width: 900px;
    margin: auto;
    text-align: left;
    background-color: #1E293B;
    padding: 20px;
    box-shadow: 5px 5px 0 #8B5CF6;
    border-radius: 20px;
}

.about:hover {
    background-color: #38BDF8;
    color: #0C151D;
    transform: scale(1.02);
    font-weight: bold;
}

.edu_head {
    display: flex;
    font-size: 35px;
    color: #38BDF8;
    text-align: center;
    justify-content: center;
    height: 30vh;
    align-items: center;
}

.edu_head:hover {
    scale: 1.1;
    text-shadow: 10px 10px white;
}

.edu {
    height: 55vh;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.cards {
    height: 250px;
    background-color: #1E293B;
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 0 #8B5CF6;
}

.cards:hover {
    background-color: #38BDF8;
    color: #0C151D;
    scale: 1.1;
    font-weight: bold;
}

.edu_degree {
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.edu_degree p {
    font-size: 10px;
}

.cards hr {
    height: 2px;
    background-color: #38BDF8;
}

.cards h2 {
    margin: 10px 0;
}

.cards p {
    font-size: 14px;
    line-height: 1.5;
}

.project {
    text-align: center;
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.project .project_card{
    background: rgba(30,41,59,.8);
    width: 300px;
    min-height: 320px;
    height: auto;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project .project_card:hover {
    background-color: #38BDF8;
    color: #0C151D;
    transform: scale(1.02);
    font-weight: bold;
}

.project .project_card a {
    text-decoration: none;
    color: white;
}

.skills {
    text-align: center;
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.skills .skills_card {
    background-color: #1E293B;
    width: 350px;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #8B5CF6;
    font-size: 24px;
    color: white;
}

.skills .skills_card:hover {
    background-color: #38BDF8;
    color: #0C151D;
    transform: scale(1.02);
    font-weight: bold;
}

footer {
    background-color: #1E293B;
    color: #38BDF8;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    box-shadow: 0 -5px 10px #8B5CF6;
    margin-top: 50px;
}



.foot {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}

/* .foot:hover {
    color: #0C151D;
    transform: scale(1.1);
    text-decoration: underline;
} */

.foot .address {
    text-align: left;
    line-height: 1.5;
}

.foot .address a {
    text-decoration: none;
    color: white;
}

.foot .midea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
@media (max-width:1024px){

    .head{
        flex-direction:column;
        gap:50px;
        padding:20px;
    }

    .skills{
        grid-template-columns:repeat(2,1fr);
        gap:30px;
    }

    .project{
        grid-template-columns:repeat(2,1fr);
        gap:30px;
    }

    .edu{
        flex-wrap:wrap;
        height:auto;
        gap:20px;
    }

    .foot{
        flex-direction:column;
        gap:50px;
    }

}

@media (max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
        padding:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .head{
        flex-direction:column;
        gap:25px;
    }

    .img{
        width:180px;
        height:180px;
        margin:0;
    }

    .myprofile{
        width:90%;
        height:auto;
        padding:20px;
    }

    .about{
        width:90%;
    }

    .edu{
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

    .cards{
        width:85%;
        height:auto;
    }

    .project{
        grid-template-columns:1fr;
        gap:20px;
    }

    .project .project_card{
        width:90%;
        height:auto;
        margin:auto;
    }

    .skills{
        grid-template-columns:1fr;
    }

    .skills .skills_card{
        width:90%;
        height:auto;
        margin:auto;
    }

    .foot{
        flex-direction:column;
        gap:30px;
        text-align:center;
    }

    .foot .address{
        text-align:center;
    }

    .foot .midea{
        gap:20px;
        flex-wrap:wrap;
    }

}

@media (max-width:480px){

    nav h1{
        font-size:20px;
    }

    nav ul{
        flex-direction:column;
        gap:10px;
    }

    section{
        margin:20px 10px;
    }

    section h1{
        font-size:32px;
    }

    .edu_head{
        font-size:24px;
        height:auto;
        padding:10px;
    }

    .img{
        width:140px;
        height:140px;
    }

    .myprofile,
    .about,
    .cards,
    .project .project_card,
    .skills .skills_card{
        width:95%;
    }

    .foot .midea{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:15px;
        justify-items:center;
    }

    footer{
        font-size:14px;
        padding:15px;
    }

}